@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

$ff: "Poppins", sans-serif;

// color variables
// color variables
// color variables

//main colors
$background: #f8f6ef;
$main-text: #7c7c7c;
$h1-intro: #827f7f;
$h2: #686868; //Tag and Notes title
$text-buttons: #827f7f;
$placeholder-border: #b8b8b8;
$light-violet: #d8d8ed;
$input-line: #b3b3b3;
$main-tag-background: #e2e0dc;

//auth
$background-form: #f3f0e4;
//============================================

//entries
$background-page: #f3f1e5;

//============================================

//tag color
$tag-text: #7c7c7c; //and filter icon
//cremeish
$background-tag-container-creme: #f3f1e5;
$background-tag-creme: #e8e3d2;
$tag-thumb-creme: #d0ccbc;

//blueish
$background-tag-container-blue: #e4eaef;
$background-tag-blue: #d1d2ee;
$tag-thumb-blue: #a5a6c3;

//greenish
$background-tag-container-green: #ebefe6;
$background-tag-green: #dcdfe0;
$tag-thumb-green: #cbcbcb;

//============================================

//graph colors
$graph-background: #e8ede4;
$graph-line-active: #9ab9c3;
$graph-line-inactive: #ffff;
$graph-line-tag-selected: #e08585;
$graph-table-lines: #d3d3d2;
$graph-table-numbers: #d3d3d2;
$graph-sort-text: #939393;
$graph-sort-inactive: #b7b7b7;
$graph-sort-hovered: #827f7f;
$graph-mood: #f7dabf;

//============================================

//notes colors
//violet
$background-note: #d8d8ed;
$background-note-card: #c7c8f3;
$note-icon-completed: #7d80cc;
$note-icon-active: #fdfbf4;
$filter: #827f7f;
$filter-active: #443f3c;
$filter-active-button: #fdfbf4;
$note-text-active: #5a5a5a;
$note-text-completed: #939393;
$scroll-thumb: #9c9ed8;

//creme
$background-note-creme: #e8e3d2;
$background-note-card-creme: #f1eede;
$note-icon-completed-creme: #9394c7;
$note-icon-active-creme: #fdfbf4;
$filter-creme: #939393;
$filter-active-creme: #827f7f;
$filter-active-button-creme: #fdfbf4;
$note-text-active-creme: #827f7f; //the delete icon will have the same color
$note-text-completed-creme: #b8b8b8;
$scroll-thumb-creme: #d0ccbc;

// mixin media queries
// mixin media queries
// mixin media queries
@mixin details-brake-1 {
  @media only screen and (min-width: 470px) {
    @content;
  }
}
@mixin details-brake-2 {
  @media only screen and (min-width: 530px) {
    @content;
  }
}
@mixin details-brake-3 {
  @media only screen and (min-width: 670px) {
    @content;
  }
}
@mixin details-brake-4 {
  @media only screen and (min-width: 800px) {
    @content;
  }
}
@mixin mobile-end {
  @media only screen and (min-width: 499px) {
    @content;
  }
}
@mixin desktop-size {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}
@mixin desktop-size-big {
  @media only screen and (min-width: 1250px) {
    @content;
  }
}

// ============ COMPONENTS

@mixin auth-container {
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $background;
    display: grid;
    place-items: center;
    z-index: 60;
    .form-container {
      position: relative;
      width: 90%;
      max-width: 400px;
      margin-top: -80px;
      .logo {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        cursor: pointer;
      }
      form {
        position: relative;
        margin: auto;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        border: 1px solid $placeholder-border;
        border-radius: $radius-big;
        background-color: $background-form;
        .redirect {
          margin: unset;
          margin-bottom: 50px;
          font-size: 13px;
          color: $main-text;
          span {
            font-weight: 500;
            color: #7d9ca6;
            cursor: pointer;
            &:hover {
              color: darken(#7d9ca6, 10%);
            }
          }
        }
        .password {
          margin-bottom: 70px;
        }
        input {
          border: unset;
          font-size: 14px;
          background-color: unset;
          margin-bottom: 30px;
          padding-bottom: 2px;
          color: $main-text;
          border-bottom: 1px solid $input-line;
          &::placeholder {
            color: $placeholder-border;
          }
          &:focus {
            position: relative;
            outline: unset;
            border-bottom: 1px solid #7d9ca6;
            box-shadow: inset 0 -1px #7d9ca6;
          }
        }
        button {
          font-family: $ff;
          position: absolute;
          left: 50%;
          bottom: 17px;
          transform: translateX(-50%);
          font-size: 14px;
          padding: 5px 22px;
          background-color: transparent;
          color: $text-buttons;
          border: 1.5px solid lighten($text-buttons, 10%);
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            color: darken($text-buttons, 10%);
            background-color: darken($background-form, 8%);
            border-color: darken($background-form, 8%);
          }
        }
        .back {
          margin: unset;
          width: fit-content;
          color: $text-buttons;
          text-decoration: none;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: darken($text-buttons, 10%);
          }
        }
      }
      .error {
        position: absolute;
        bottom: 70px;
        font-size: 13px;
        left: 15px;
        color: rgb(209, 89, 68);
      }
    }
  }
}

// ============ BUTTONS
@mixin button-full {
  padding: 5px 20px;
  border: 2px solid $background-note;
  border-radius: $radius-big;
  color: $note-text-active;
  font-weight: 400;
  background-color: $background-note;
  font-family: $ff;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: $background;
    border-color: darken($background-note, 20%);
    background-color: darken($background-note, 20%);
  }
}
@mixin button-contour {
  padding: 5px 20px;
  border: 2px solid lighten($text-buttons, 10%);
  border-radius: $radius-big;
  color: $h2;
  background-color: transparent;
  font-family: $ff;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: $background;
    border-color: darken($background-note, 20%);
    background-color: darken($background-note, 20%);
  }
}

// ============ SCROLLBAR
@mixin scrollbar {
  &::-webkit-scrollbar {
    display: block;
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($main-text, 20%);
    border-radius: 100vw;
    border: 3px solid $background;
  }
}

// details
// details
// details

$radius-tag: 11px;
$radius-big: 7px;
$radius-small: 2px;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-right: 1px solid $background;
    border-top: 1px solid $background;
    border-bottom: 1px solid $background;
    border-radius: $radius-big;
    background-color: $main-text;
  }
  #app {
    font-family: $ff;
    font-size: 15px;
    width: 100%;
    min-height: 100vh;
  }
}
